/*Navbar*/
.Cpoz{
    right:0;
    position: absolute;
    cursor: pointer;
}

.Cnav {
    width: 100%;
    height : 50px;
    float: left;
    /*margin: 0 0 3em 0;*/
    /*padding: 20px;*/
    margin-bottom: 0 !important;
    padding: 14px 20px 10px;
    list-style: none;
    background-color: black;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Cnav li {
    float: left;
    cursor: pointer;
    /*display: inline-block;*/
    /*display same effect as float*/
}

.Cnav li > a,
.Cnav li span {
    /*display: block;*/
    padding: 20px 20px 17px;
    display: inline;
    text-decoration: none;
    color: #428bca;
    /*border-right: 1px solid #245269;*/
    /*padding: 0 .5em;*/
}


/*End Navbar*/


/*Dropdown*/
.CustomDropdown{
    text-align: center;
    /*width: 700px;*/
    /*margin: 50px auto 160px;*/
    position: relative;
    background-color: black;
    list-style: none;
    min-height:100%;
}

.CustomDropdown ul{
    position: absolute;
    margin: 23px 0px;
    list-style: none;
    padding: 0;
    overflow: hidden;
    width: 260px;

    height: 0;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.CustomDropdown span{
    width: 120px;
    /*height:50px;*/
}
.CustomDropdown a{
    display: block !important;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff !important;
    text-align: center;
    background-color: steelblue;
    font-size: 20px;
    width: 120px;
    height:50px;
    /*width: auto;*/
    padding: 9px 0;
    border-radius: 2px;
    margin: 3px 3px;
    opacity: 0.8;

    /*-webkit-transition: 0.4s ease;*/
    /*transition: 0.4s ease;*/
}


.CustomDropdown ul li a.active{
    color: #687AD7;
    /*opacity: 0.8 !important;*/
}

.CustomDropdown ul li a:hover {
    opacity: 1;
    /*background-color: blue !important;*/
}


.CustomDropdown ul li{
    display: inline-block;
}

.CustomDropdown:hover ul {
    height: 166px; /* change it to auto and when you move mouse on it it disapears*/
}


/*End Dropdown*/