
body{
    /*overflow: hidden;*//* stops scrollbar functionality*/
}
body::-webkit-scrollbar {
    display: none;
}

/*Footer*/

footer{
    background-color: black;
    width: 100%;
    height: 66px;
    bottom:0;
    /*position:absolute;*/
    clear: both;
}
.footer{
    margin-right: 150px;
    margin-left: 150px;

}
.footer a:hover{
    opacity: 0.7;
    color: steelblue;
    text-decoration: none;

}
.footer a {
    display: table-cell;
    padding: 20px 145px;
    font-size: 17px;
}

.BloodyMoney {
    color: darkred;
}
/*End Footer*/

/*Image*/
.overwrite{
    height: 570px !important;
}

.CustomSize {
   width: 1350px!important;
    height: 750px!important;

}

/*End Image*/

/*Background*/

.Background{

    height: 659px;
    width: 1440px;
    display: table-cell;
    box-sizing: border-box;
    z-index:1;
}


.chest{
    position: absolute;
    top: 30%;
    left:480px;

    cursor:url(../img/key.gif),auto;
    z-index: 3;
}
.BackgroundImage{
    height: 659px;
    width: 1440px;
    z-index: 2;
}
