.Crow{
    width: 100%;
}
.Ccol{
    float: left;
    width: 50%;
}




.image-effect-future{
    /*width: 900px;*/
    /*height: 500px;*/
    top:20%;
    left: 400px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/
}




.image-effect-future .share-layer {
    position: absolute;
    top: 30%;
    left: 320px;

    border: 1px solid transparent;
    width: 0;
    height: 0;
    z-index: 10;

    /*-webkit-transition:	all 0.4s 0s,*/
    /*border 0.4s 0.6s,*/
    /*height 0.4s 0.4s,*/
    /*margin 0.4s 0.4s;*/


    transition:			all 0.4s 0s,
    border 0.4s 0.6s,
    height 0.4s 0.4s,
    margin 0.4s 0.4s;

}

.image-effect-future:hover .share-layer{
    height: 400px ;
    width: 600px ;
    margin-top: -100px;
    border-color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.3);
    opacity: 1;
    -webkit-transform: translateX(-200px);
    transform: translateX(-300px);
    z-index:4;
    /*-webkit-transition:	all 0.4s 0.4s,*/
    /*border 0.4s 0s,*/
    /*height 0.4s 0s,*/
    /*margin 0.4s 0s;*/

    transition:			all 1.7s 0.4s,
    border 1.2s 0s,
    height 0.4s 0s,
    margin 1.2s 0s;
}


.image-effect-future .share-button{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    padding: 12px;
    width: 70px;
    border-radius: 2px;
    opacity: 0;
    margin: 70px 90px;
}

.image-effect-future:hover .share-button{
    opacity: 1;
    -webkit-transition: 1.4s;
    transition: 1.4s;
    -webkit-transition-delay: 1,7s;
    transition-delay: 1.7s;
}

.share-via-facebook{
    background-color:#3b5998;
}

.share-via-twitter{
    background-color:#00aced;
}

.share-via-google{
    background-color:#d34836;
}
