<div>
    <div id = "test" class="container">

        <div class="image-effect-future">

            <div class="share-layer" >
                <div class="Crow">
                    <div class="Ccol">
                        <a href="#" class="share-button share-via-facebook">
                            <i class="fa fa-facebook"></i>
                            Text
                        </a>
                    </div>
                    <div class="Ccol">
                        <a href="#" class="share-button share-via-twitter">
                            <i class="fa fa-twitter"></i>
                            Comes
                        </a>
                    </div>
                </div>
                <div class="Crow">
                    <div class="Ccol">
                        <a href="#" class="share-button share-via-google">
                            <i class="fa fa-google"></i>
                            Here
                        </a>
                    </div>
                    <div class="Ccol">
                        <a href="#" class="share-button share-via-google">
                            <i class="fa fa-google"></i>
                            Okay?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/Large-Chest%20.gif" class="chest">
    <img src="img/1685510.jpg" class="BackgroundImage">
</div>
